@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./transitions.scss";

body {
    background-color: #202020;
    color: white;
}

body.embedded {
	background-color: transparent;
}
