@tailwind base;
@tailwind components;
@tailwind utilities;

@import './transitions.scss';
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

.font-medium {
    font-weight: 501;
}

:root {
    --background: #202020;
}

.handwritten {
    font-family: 'Shadows Into Light', cursive;
}

body {
    background-color: var(--background);
    color: white;
}

body.embedded {
    background-color: transparent;
}
