/** fade **/
.fade-enter-active,
.fade-leave-active {
    transition: all 0.1s linear;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/** shake **/
.shake-enter-active {
    animation: bounce-in 0.2s;
}
.shake-leave-active {
    animation: bounce-in 0.2s reverse;
}

@keyframes bounce-in {
    0% {
        opacity: 0;
        transform: translateX(20px);
    }

    25% {
        transform: translateX(-10px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/** slideDown **/
.slideDown-enter-active,
.slideDown-leave-active {
    transition: all 0.1s linear;
}

.slideDown-enter-from,
.slideDown-leave-to {
    transform: translateY(20px);
    opacity: 0;
}

/** slideUp **/
.slideUp-enter-active,
.slideUp-leave-active {
    transition: all 0.1s linear;
}

.slideUp-enter-from,
.slideUp-leave-to {
    transform: translateY(-20px);
    opacity: 0;
}

/** slideIn **/
.slideIn-enter-active,
.slideIn-leave-active {
    transition: all 0.1s linear;
}

.slideIn-enter-from,
.slideIn-leave-to {
    transform: translateX(20px);
    opacity: 0;
}

/** slidePast **/
.slidePast-enter-active,
.slidePast-leave-active {
    transition: all 0.1s linear;
}

.slidePast-enter-from {
	position: absolute;
	transform: translateX(20px);
    opacity: 0;
}

.slidePast-leave-to {
	position: absolute;
    transform: translateX(-20px);
    opacity: 0;
}

/** slideLeft **/
.slideLeft-enter-active,
.slideLeft-leave-active {
    transition: all 0.1s linear;
}

.slideLeft-enter-from,
.slideLeft-leave-to {
    transform: translateX(-20px);
    opacity: 0;
}

/** growDown **/
.growDown-enter-active,
.growDown-leave-active {
    transition: all 0.1s linear;
}

.growDown-enter-from,
.growDown-leave-to {
    transform: translateY(-20);
    opacity: 0;
}

/** grow **/
.grow-enter-active,
.grow-leave-active {
    transition: all 0.1s linear;
}

.grow-enter-from,
.grow-leave-to {
    transform: scale(0);
}

/** growSlow **/
.growSlow-enter-active,
.growSlow-leave-active {
    transition: all 0.2s linear;
}

.growSlow-enter-from,
.growSlow-leave-to {
    transform: scale(0);
}

/** growDownSlow **/
.growDownSlow-enter-active,
.growDownSlow-leave-active {
    transition: all 0.2s linear;
	transform-origin: top;
	will-change: transform, opacity;
}

.growDownSlow-enter-from,
.growDownSlow-leave-to {
	opacity: 0;
    transform: scaleY(0);
}
